<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adai.dao.CartDao">

    <sql id="Table_cart">
         cart
    </sql>

    <sql id="Table_column">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            itemId,category,`name`,price,location,`count`,imgPath,account,
            <if test=" color != null ">
                color,
            </if>
            <if test=" size != null ">
                `size`,
            </if>
            <if test=" description != null ">
                description,
            </if>
        </trim>
    </sql>

    <sql id="Column_ALL_Values">
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{itemId},#{category},#{name},#{price},#{location},#{count},#{imgPath},
            #{account},

            <if test=" color != null ">
                #{color},
            </if>
            <if test=" size != null ">
                #{size},
            </if>
            <if test=" description != null ">
                #{description},
            </if>

        </trim>
    </sql>

    <insert id="insertCart" parameterType="com.adai.vo.request.InsertCartRequest">
        insert into
        <include refid="Table_cart"/>
        <include refid="Table_column"/>
        <include refid="Column_ALL_Values"/>
    </insert>

    <select id="getPageListCarts"
            resultType="com.adai.vo.response.CartResponse">
        select id,itemId,category,`name`,price,`count`,imgPath,color,`size`,location
        from
        <include refid="Table_cart"/>
        WHERE account = #{param3}
        limit #{param1} offset #{param2}
    </select>

    <select id="selectCartCounts" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) FROM
        <include refid="Table_cart"/>
        where account = #{account}
    </select>

    <select id="isExistCartHasColorSize" resultType="java.lang.Integer">
        select count(*) FROM
        <include refid="Table_cart"/>
        where itemId = #{param1} and color = #{param2} and `size` = #{param3} and account = #{param4}
    </select>

    <select id="isExistCartNoColorSize"
            resultType="java.lang.Integer">
        select count(*) FROM
        <include refid="Table_cart"/>
        where itemId = #{param1} and account = #{param2}
    </select>

    <select id="selectCartById" parameterType="java.lang.Integer"
            resultType="com.adai.vo.response.CartResponse">
        select id,itemId,category,`name`,price,`count`,imgPath,color,`size`,location
        from
        <include refid="Table_cart"/>
        WHERE id = #{id}
    </select>

    <select id="getAllMoney" parameterType="java.lang.String" resultType="java.util.Map">
        select `count`,price from
        <include refid="Table_cart"/>
        where account = #{account}
    </select>

    <select id="getAllCarts" resultType="com.adai.vo.response.CartResponse">
        select id,itemId,category,`name`,price,`count`,imgPath,color,`size`,location
        FROM
        <include refid="Table_cart"/>
        where account = #{account}
    </select>

    <select id="getCartIdByItemIdAndAccount" resultType="java.lang.Integer">
        select id from
        <include refid="Table_cart"/>
        <trim>
            where itemId = #{param1} and account = #{param2}
            <if test=" param3 != null">
                and color = #{param3}
            </if>
            <if test=" param4 != null">
                and size = #{param4}
            </if>
        </trim>

    </select>

    <update id="plusCounts">
        update
        <include refid="Table_cart"/>
        set `count` = `count` + #{param2}
        where itemId = #{param1} and account = #{param3}
    </update>

    <update id="changeCount">
        UPDATE
        <include refid="Table_cart"/>
        set `count` = #{param2}
        where id = #{param1}
    </update>

    <delete id="deleteCartById">
        delete from
        <include refid="Table_cart"/>
        where id = #{id}
    </delete>

    <delete id="removeAllCarts">
        delete from
        <include refid="Table_cart"/>
        where account = #{account}
    </delete>
    <delete id="deleteAllCarts">
        delete from
        <include refid="Table_cart"/>
        where account = #{account}
    </delete>

    <delete id="deleteCartByAccountAndItemId">
        delete from
        <include refid="Table_cart"/>
        where account = #{account} and itemId = #{itemId}
        <if test="color != null">
            and color = #{color}
        </if>
        <if test="size != null">
            and size = #{size}
        </if>
    </delete>
</mapper>