.message {
    /*border: 1px solid black;*/
    width: 1500px;
    height: 500px;
    margin: 20px auto;
}

.message-picture {
    /*border: 1px solid black;*/
    width: 300px;
    height: 360px;
    margin-left: 100px;
    margin-top: 50px;
    float: left;
}

.message-clothes {
    border: 1px solid black;
    width: 1000px;
    height: 400px;
    margin-left: 30px;
    margin-top: 50px;
    float: left;
}

#message-clothes-name {
    /*border: 1px solid black;*/
    width: 900px;
    height: 50px;
    font-size: 20px;
    margin-top: 1px;
    margin-left: 1px;
    line-height: 50px;
}

#message-clothes-price {
    /*border: 1px solid black;*/
    width: 900px;
    height: 80px;
    margin-top: 1px;
    margin-left: 1px;
    background-color: #AAAAAA;
}

.message-clothes-price-li {
    font-size: 20px;
    height: 40px;
}

#message-clothes-saledCommentsLocation {
    /*border: 1px solid black;*/
    width: 900px;
    height: 50px;
    margin-top: 1px;
    margin-left: 1px;
}

.saledCommentsLocation-li {
    float: left;
    margin-top: 15px;
    margin-left: 180px;
    font-size: 20px;
}

#message-clothes-color {
    border: 1px solid black;
    width: 900px;
    height: 30px;
    margin-top: 1px;
    margin-left: 1px;
    background-color: #DDDDDD;
}

.message-clothes-color-li {
    border: 1px solid red;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 1px;
    margin-left: 30px;
    float: left;
}

#message-clothes-size {
    border: 1px solid black;
    width: 900px;
    height: 30px;
    margin-top: 1px;
    margin-left: 1px;
    background-color: #DDDDDD;
}

.message-clothes-size-li {
    border: 1px solid red;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 1px;
    margin-left: 30px;
    float: left;
}

#message-clothes-number {
    /*border: 1px solid black;*/
    width: 900px;
    height: 40px;
    font-size: 20px;
    margin-top: 1px;
    margin-left: 1px;
}

.message-clothes-number-li {
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

#message-clothes-buyAndCart {
    /*border: 1px solid black;*/
    width: 900px;
    height: 80px;
    margin-top: 20px;
    margin-left: 1px;
}

.message-clothes-buyAndCart {
    /*border: 1px solid black;*/
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    float: left;
    margin-left: 120px;
    margin-top: 10px;
}

/*评论 */
#comments {
    /*border: 1px solid black;*/
    width: 1500px;
    height: auto;
    margin: 20px auto;
}

#myComments {
    /*border: 1px solid black;*/
    width: 1500px;
    height: 300px;
    margin: 20px auto;
}

#myComments li:first-child {
    /*border: 1px solid black;*/
    width: 100px;
    height: 50px;
    float: left;
    margin-left: 300px;
    margin-top: 20px;
}

#myComments-textare {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

#myComments li:last-child {
    float: left;
    margin-left: 20px;
    margin-top: 80px;
}

.commentOneByOne {
    /*border: 1px solid black;*/
    width: 900px;
    height: 100px;
    margin: 20px auto;
}

#comment-account {
    /*border: 1px solid black;*/
    width: 100px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 20px;
    float: left;
}

#comment-time {
    /*border: 1px solid black;*/
    width: 200px;
    height: 20px;
    margin-top: 70px;
    margin-left: 20px;
    float: left;
}

#comment-text {
    display: block;
    float: left;
    resize: none;
}










/*分页专属class*/
.pageTurning {
    /*border: 1px solid black;*/
    width: 250px;
    height: 50px;
    margin: auto;
    clear: both;
}

.pageTurningSquare {
    /*border: 1px solid black;*/
    width: 20px;
    height: 20px;
    margin-top: 30px;
    text-align: center;
    line-height: 20px;
    float: left;
}

.current {
    background-color: red;
}
